@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{ /*Declarar variables en css o Scss , evitar los espacios y declarar con los guiones*/
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

body{
    padding: 0%; /*Control de los espacios que hay dentro del diseño*/
    margin: 0%;
    background-color: var(--dark-cyan);
    background-image: url(/images/bg-pattern-top.svg),url(/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 51vw bottom 20vh, left 45vw top 50vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.card-container{
    /*border: 1px solid;*/  /*una linea simple de divisoria para ayuda al momento de empezar y al ultimo lo borramos*/
    margin: 180px auto 50px;  /*parte superior, a los lados, parte inferior*/
    width:330px ; /*ancho*/
    height: 380px; /*altura*/
    border-radius: 10px; 
    overflow: hidden;  /*todo lo que se encuentra afuera del border se esconda detras de el mismo*/
    position: relative; /*para ubicar la imagen dentro de la tarjeta*/
}

.burbujas{
    background: url(/images/bg-pattern-card.svg);
    height: 140px;
}

.foto{
    position: absolute;
    top: 87px;
    left: 35%;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    height: 96px;
}

.personal-data-container{
    background-color: white;
    height: 150px;
    padding: 75px;
    box-sizing: border-box;  /*Para mantener el tamaño deacuerdo al tamaño del borde, el borde se ajusta a la altura que en este caso es de 150px y no se agranda más de la medida establecida*/
    text-align: center;
}

.name{
    font-weight:700 ;   /*ancho*/
    color: var(--very-dark-desaturated-blue);
}

.edad, .ciudad{
    color: var(--dark-gray);
}

.ciudad{
    margin-top: 10px;
    font-size: 0.8rem;
}

.stats-container{
    background-color: white;
    border-top: 1px solid var(--dark-gray);
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 90px;
}

.estadisticas{
    text-align: center;
}

.cantidad{
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--very-dark-desaturated-blue);
}

.unidad{
    font-size: 0.6rem;
    color: var(--dark-gray);
    letter-spacing: 2px;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(0, 0%, 0%); }

@media screen and  (min-width: 1440px){ 
    .card-container{
        width: 350px;
    }
}